/* Blog Page */

.blogPage__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: auto;
    padding-top: 12vh;
    margin-left: 10vw;
    

    .blog-container{
        width: 70%;
        height: auto;
        margin-right: 10px;
        
        box-shadow: 0px 1px 4px 0px $box-shadow;

        #heading{
            width: 90%;
            padding: 0;
            margin: 2vh 0 1vh 1vw;
            text-align: left;
            color: $black;
            background-color: $white;
            font-weight: normal;
        }

        .blogPage__details{
            display: flex;
            justify-content: flex-start;
            padding-left: 1vw;
            border-bottom: 2px solid $border;
            
            #homePage__author{
                color: $homePage-author;
            }
        }

        .blog__imageContainer{
            padding: 15px;
            margin-top: 2vh;
        }

        
        .blog-content{
            word-wrap: break-word;
            width: 95%;
            padding: 0;
            margin: 2vw 0 1vw 1vw;
            font-weight: normal;
            color: $blog-content;
            background-color: $white;
        }

        .blogPage__content{
            padding: 0 2vw;
        }


        .blog__category{
            padding: 8px;
            width: auto;
            margin-left: 1vw;
            font-size: 1rem;
            background-color: $white;
            border: 0;
            border: 1px solid $lightgray;
        }

        .blog__likes{
            justify-content: flex-start;
            margin: 5vh 0;

            .like-msg{
                margin: 0;
                padding-top: 1vh;
                font-size: 1rem;
            }
        }

        .action-btns{

            a{
                font-size: 1rem;
                margin-right: 10px;
                margin-bottom: 3vh;
            }

            #delete-post-btn {
                font-size: 1rem;
                margin-right: 2vw;
            }
        }

        .blogPage__suggestions{
            padding: 10px;
            margin-bottom: 20px;
            
            .suggestion__title{
                color: $common2;
                margin-bottom: 15px;
            }

            .posts_box{
                width: 100%;
                display: flex;
            }

            .suggestion__posts{
                width: 33%;

                .post{
                    margin-right: 10px;

                    .post_img{
                        height: 18vh;
                        width: 100%;

                        img{
                            @include imageCover;
                            transition: all .17s ease-in-out;

                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    }

                    .post_title{
                        padding: 10px;
                        font-size: 1.1rem;  

                        a{
                            text-decoration: none;
                            color: black;
                            transition: all .17s ease-in-out;
                        }
                        a:hover{
                            color: $common2;
                        }
                    }
                }

            }
        }

        .blog__comments-container{
            text-align: left;

            h2{
                color: $common2;;
            }

            form{
                justify-content: flex-start;

                input{
                    font-weight: normal;
                }
            }

            .blog__comment-box{
                height: auto;
                align-items: flex-start;

                .blog__comment{
                    width: 80%;

                    .blog__likes{
                        margin: 0;
                    }
                }
            }


        }
        
    }

}

@media only screen and (max-width: 769px) {
    .blogPage__container{
        flex-direction: column;
        margin: 0;  
        width: 100%;

        .blog-container{
            width: 100%;
            margin-left: 0;

            .blogPage__content{
                padding: 0 4vw;
            }
        }
    }
    .index__bloggers{
        .social__container{

            .social__content{
                ul{
                    justify-content: center;
                    li {
                        width: 13vw;
                    }
                }
            }    
        }

    }
}

@media only screen and (max-width: 412px) {

    .blogPage__container{
        .blog-container{
            margin-top: 8vh;

            #heading{
                margin-left: 4vw;
            }

            .blog__category{
                margin-left: 4vw;
                margin-bottom: 2vh;
            }

            .blogPage__content{
                padding: 0 8%;
            }

            .action-btns{
               margin-bottom: 20px;
            }

            .blog-content{
                padding: 5px;
            }

            .blogPage__suggestions{
                .posts_box{
                    flex-direction: column;
                    .post{
                        margin-bottom: 20px;
                    }
                }
                .suggestion__posts{
                    width: 100%;
                }
            }

            .blog__comments-container{
                .blog__comment-box{
                    .blog__comment{
                        width: 100%;
                    }
                }
            }
        }

    }

}

