/* Footer section */

.footer{
    font-family: "Montserrat";
    height: 40vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $footer-background;

    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .location, .phone, .email{
            color: $white;
            display: flex;
            align-items: center;
            margin-bottom: 4vh;

            i{
                color: $common;
            }

            .location-details{
                margin-left: 25px;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                }
            }
        }

        .location{
            margin-top: 3vh;
        }

    }

    .links{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            list-style: none;
            h3{
                margin-bottom: 40px;
                font-size: 1.6rem;
                letter-spacing: 3px;
                color: $common;
            }
            li{
                margin-bottom: 20px;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 1.1rem;
                    transition: all .17s ease-in-out;

                }
                a:hover{
                    color: $common;
                }

                a::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $common;
                    transition: width .3s;
                }

                a:hover::after{
                    width: 100%;
                }

            }
        }
    }

    .about{
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            color: $common;
            margin: 20px;
        }

        p{
            padding: 0 30px;
            font-size: 1.1rem;
            color: $white;
        }
    }
}

@media only screen and (max-width: 769px) {
    .footer{
        height: auto;
        .details{
            

            .location, .phone, .email{
                font-size: 1.3rem;
            }

            .location
                .location-details{
                    font-size: 1rem;
                }
        }
        .about{
            width: 90%;
            margin-bottom: 7vh;

        }
        
    }

        
    
}

@media only screen and (max-width: 412px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3rem;

        .details{
            width: 90%;
            margin-top: 5vh;
        }

        .links{
            width: 100%;
            margin: 5vh 0;
            justify-content: flex-start;
        }
        .about{
            width: 100%;
            margin-bottom: 1vh;
            margin-top: 1vh;

            h3{
                margin: 20px 0;
            }

            p{
                margin: 0;
                padding: 0 1.5rem 0 0;
            }
            
        }
    }


}


