
/* global styling */
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Inter", sans-serif;
}
 .card {
	 padding: 0;
	 border-radius: 0;
	 box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
	 background-color: #fff;
}
 .card .heading {
	 margin: 20px;
	 color: black;
	 transition: all 0.17s ease-in-out;
}
 .card .heading:hover {
	 color: #0488d1;
}
 .card .blog-tile-img {
	 margin: 0;
	 transition: transform 0.17s ease-in-out;
}
 .card .blog-tile-img:hover {
	 transform: scale(1.05);
}
 .card .blogPage__content p {
	 padding: 0 2rem;
}
 .card #content {
	 padding-left: 20px;
	 padding-right: 20px;
}
 .card .blog__details {
	 display: flex;
	 justify-content: center;
	 border-top: 2px solid #f2f2f6;
}
 .card .blog__details #homePage__author {
	 color: #1f2024;
}
 .card .read-more-btn {
	 justify-content: space-between;
	 padding: 25px;
	 margin-top: 30px;
}
 @media only screen and (max-width: 769px) {
	 .card {
		 width: 100%;
	}
	 .card .heading {
		 font-size: 1.1rem;
	}
	 .card #homePage__author {
		 font-size: 0.9rem;
	}
	 .card .read-more-btn a {
		 font-size: 0.8rem;
	}
}
 