@import './colors';
/* global styling */
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Poppins", sans-serif;
}
/* Footer section */
 .footer {
	 font-family: "Montserrat";
	 height: 40vh;
	 width: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-around;
	 background-color: #2b252c;
}
 .footer .details {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 .footer .details .location, .footer .details .phone, .footer .details .email {
	 color: #fff;
	 display: flex;
	 align-items: center;
	 margin-bottom: 4vh;
}
 .footer .details .location i, .footer .details .phone i, .footer .details .email i {
	 color: #0488d1;
}
 .footer .details .location .location-details, .footer .details .phone .location-details, .footer .details .email .location-details {
	 margin-left: 25px;
}
 .footer .details .location .location-details p, .footer .details .phone .location-details p, .footer .details .email .location-details p {
	 font-size: 1.2rem;
	 font-weight: 600;
}
 .footer .details .location {
	 margin-top: 3vh;
}
 .footer .links {
	 width: 20%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .footer .links ul {
	 list-style: none;
}
 .footer .links ul h3 {
	 margin-bottom: 40px;
	 font-size: 1.6rem;
	 letter-spacing: 3px;
	 color: #0488d1;
}
 .footer .links ul li {
	 margin-bottom: 20px;
}
 .footer .links ul li a {
	 text-decoration: none;
	 color: #fff;
	 font-size: 1.1rem;
	 transition: all 0.17s ease-in-out;
}
 .footer .links ul li a:hover {
	 color: #0488d1;
}
 .footer .links ul li a::after {
	 content: '';
	 display: block;
	 width: 0;
	 height: 2px;
	 background: #0488d1;
	 transition: width 0.3s;
}
 .footer .links ul li a:hover::after {
	 width: 100%;
}
 .footer .about {
	 width: 33%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 .footer .about h3 {
	 color: #0488d1;
	 margin: 20px;
}
 .footer .about p {
	 padding: 0 30px;
	 font-size: 1.1rem;
	 color: #fff;
}
 @media only screen and (max-width: 769px) {
	 .footer {
		 height: auto;
	}
	 .footer .details .location, .footer .details .phone, .footer .details .email {
		 font-size: 1.3rem;
	}
	 .footer .details .location .location-details {
		 font-size: 1rem;
	}
	 .footer .about {
		 width: 90%;
		 margin-bottom: 7vh;
	}
}
 @media only screen and (max-width: 412px) {
	 .footer {
		 flex-direction: column;
		 align-items: flex-start;
		 padding-left: 3rem;
	}
	 .footer .details {
		 width: 90%;
		 margin-top: 5vh;
	}
	 .footer .links {
		 width: 100%;
		 margin: 5vh 0;
		 justify-content: flex-start;
	}
	 .footer .about {
		 width: 100%;
		 margin-bottom: 1vh;
		 margin-top: 1vh;
	}
	 .footer .about h3 {
		 margin: 20px 0;
	}
	 .footer .about p {
		 margin: 0;
		 padding: 0 1.5rem 0 0;
	}
}
 