
$common: #57dfc7;
$common2: #57dfc7;
$black: rgb(8, 8, 8);
$white: #57dfc7;
$gray: gray;
$lightgray: lightgray;
$searchInput: #e7e3e3;
$searchIcon: rgb(117, 114, 114);
$banner: rgba(0,0,0,0.3);
$bannerDesc: #bebdbd;
$blogCards_Two_banner: rgba(0,0,0,0.6);
$blogCards_Two_details: rgb(197, 194, 194);
$box-shadow: rgba(0, 0, 0, 0.5);
$border: #f2f2f6;
$facebook: #4267B2;
$twitter: #0077b5;
$linkedin: #1DA1F2;
$reddit: #FF5700;
$pinterest: #E60023;
$instagram: #E1306C;
$youtube: #FF0000;
$whatsapp: #25D366;
$github: #4078c0;
$slack: #E01E5A;
$footer-background: #2B252C;
$homePage-author: #AAAAAA;
$blog-content: #656565;
$subscribe-background: #CAE8E2;
$submit-btn: #F1C8B2;
